.container {
  padding: 3em 0 0;
}

.post {
  display: flex;
  margin-bottom: 3rem;
}

.postContent {
  flex: 1 0;
  margin-left: 1.5em;
}

.postContent h2 {
  margin: 0;
}

.postContent date {
  opacity: 0.6;
}